<ion-header>
  <ion-toolbar>
    <ion-title>
      Registro Morse App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombres</ion-label>
      <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" [(ngModel)]="apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cédula</ion-label>
      <ion-input type="text" [(ngModel)]="cedula" pattern="[0-9]{10}" required></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="cedula && cedula.length !== 10">
      La cédula debe tener 10 números.
    </ion-text>
    
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" class="register-button" (click)="register()">Registrarse</ion-button>


  <div class="login-link">
    ¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión</a>
  </div>
</ion-content>
